.feature {
	&__item-list {
		display: flex;
		gap: 30px;
		justify-content: space-between;
	}
	&__icon-container {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: getColor("third");
		border-radius: 4px;
		height: 120px;
	}
	&__title {
		font-size: getSize("menuSize");
		line-height: 1.143;
		margin-top: 30px;
		margin-bottom: 10px;
		text-transform: uppercase;
	}
	&__text {
		font-size: getSize("menuSize");
		line-height: 1.714;
		color: getColor("secondary");
		letter-spacing: 0.03em;
		margin: 0;
	}
}
