@import ".././utils/variables";

.header {
	border-bottom: 1px solid #ececec;
	.container {
		display: flex;
		.logo-container {
			align-items: center;
			padding: 24px 93px 25px 0;
		}
	}
}
.menu__item-list {
	display: flex;
	height: 100%;
	gap: 46px;
	align-items: center;
	.menu__item {
		height: 100%;
	}
}
.menu,
.menu__item,
.menu__item--active {
	display: flex;
	align-items: center;
}
.menu__item--active {
	position: relative;
	height: 100%;
	&::after {
		content: "";
		background-color: getColor("active-element");
		height: 4px;
		width: 100%;
		position: absolute;
		bottom: 0;
	}
	.menu__link {
		color: getColor("active-element");
	}
}
.menu__link {
	font-weight: 500;
	font-size: getSize("menuSize");
	line-height: 1.143;
	letter-spacing: 0.02em;
	color: getColor("main");
	transition: color $mainTransition;
	&:hover,
	&:focus {
		color: getColor("active-element");
	}
}
.header__contact-list {
	display: flex;
	gap: 46px;
	align-items: center;
	margin-left: auto;
}
.header__contact-link {
	font-weight: 500;
	font-size: getSize("menuSize");
	line-height: 1.143;
	letter-spacing: 0.02em;
	transition: color $mainTransition;
	display: flex;
	align-items: center;
	gap: 10px;
	color: getColor("secondary");
	&:hover,
	&:focus {
		color: getColor("active-element");
	}
	.header__contact-icon {
		transition: fill $mainTransition;
	}
	&:hover .header__contact-icon,
	&:focus .header__contact-icon {
		fill: getColor("active-element");
	}
}
