.modal {
	position: absolute;
	background-color: #fff;
	width: 528px;
	height: 581px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	transition: transform 1000ms ease-in 1000ms;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	.btn--modal {
		position: absolute;
		bottom: 40px;
		left: 164px;
		transition: box-shadow $mainTransition;
		&:hover,
		&:focus {
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
		}
	}
	&__close-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 8px;
		right: 8px;
		width: 28px;
		height: 28px;
		border-radius: 50%;
		@include bordered(rgba(0, 0, 0, 0.1));
		padding: 0;
		background-color: #fff;
		cursor: pointer;
	}
	&__form {
		margin: 40px;
		&-title {
			font-weight: 700;
			font-size: 20px;
			line-height: 23px;
			text-align: center;
			letter-spacing: 0.03em;
			margin-bottom: 12px;
		}
	}
}
.modal__form-item {
	position: relative;
	width: 448px;
	margin-bottom: 6px;
	.modal__form-label {
		font-size: getSize("label");
		font-weight: 400;
		line-height: 14px;
		letter-spacing: 0.01em;
		color: getColor("secondary");
		&:focus-within .modal__form-icon {
			fill: getColor("active-element");
		}
		&:focus-within .modal__form-input {
			@include bordered(getColor("active-element"));
		}
		.modal__form-input {
			width: 448px;
			height: 40px;
			@include bordered(rgba(33, 33, 33, 0.2));
			border-radius: 4px;
			margin-top: 4px;
			padding-left: 42px;
			outline: none;
			transition: border $mainTransition;
		}
		.modal__form-icon {
			transition: fill $mainTransition;
			position: absolute;
			bottom: 11px;
			left: 12px;
		}
	}
}
.modal__comment-label {
	font-size: getSize("label");
	font-weight: 400;
	line-height: 14px;
	letter-spacing: 0.01em;
	color: getColor("secondary");
	.modal__comment-text {
		width: 448px;
		height: 120px;
		@include bordered(rgba(33, 33, 33, 0.2));
		border-radius: 4px;
		margin-top: 4px;
		padding: 12px 16px;
		resize: none;
		outline: none;
		transition: border $mainTransition;
		&:focus {
			@include bordered(getColor("active-element"));
		}
		&::placeholder {
			font-size: getSize("label");
			font-weight: 400;
			line-height: 14px;
			letter-spacing: 0.01em;
			color: rgba(117, 117, 117, 0.5);
		}
	}
}
