.team {
	padding-bottom: 94px;
	background-color: getColor("third");
	&__members-list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__member {
		background-color: #fff;
		box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2),
			0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
		&-name {
			font-weight: 500;
			font-size: getSize("caption&btn");
			line-height: 1.188;
			text-align: center;
			margin-top: 30px;
			margin-bottom: 0;
		}
		&-position {
			line-height: 1.188;
			text-align: center;
			color: getColor("secondary");
			margin-top: 10px;
			margin-bottom: 0;
		}
		.team__social-list {
			display: flex;
			justify-content: space-between;
			padding: 16px 32px 30px 32px;
		}
	}
}
