@import ".././utils/variables";

.logo-webstudio {
	font-family: "Raleway", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: getSize("logo");
	line-height: 1.192;
	color: getColor(main);
	.logo-highlight {
		color: getColor("active-element");
	}
}
