.modal__agreement-label {
	width: 420px;
	height: 24px;
	margin: 20px 54px 30px;
	.modal__agreement-text {
		position: absolute;
		bottom: 115px;
		left: 77px;
		font-size: getSize("menuSize");
		line-height: 24px;
		letter-spacing: 0.03em;
		color: getColor("secondary");
		.modal__agreement-link {
			text-decoration: underline;
			color: getColor("active-element");
		}
	}
	.modal__agreement-input {
		position: absolute;
		bottom: 120px;
		left: 54px;
		opacity: 0;
		&:checked + .modal__agreement-icon {
			fill: getColor("active-element");
			stroke: getColor("active-element");
			border: transparent;
		}
	}
	.modal__agreement-icon {
		position: absolute;
		bottom: 120px;
		left: 54px;
		fill: #fff;
		border: 1.5px solid getColor("main");
		border-radius: 1px;
		transition: fill $mainTransition, border $mainTransition;
	}
}
