:root {
	// --main-color: #212121;
	// --secondary-color: #757575;
	// --third-color: #f5f4fa;
	// --icon-color: #afb1b8;
	// --active-elements-color: #2196f3;
	--transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	letter-spacing: 0.03em;
	color: getColor("main");
	box-sizing: border-box;
}
.container {
	width: 100%;
	max-width: 1200px;
	padding: 0;
	margin: 0 auto;
}
.section {
	padding-top: 94px;
}
ul,
li {
	list-style-type: none;
	list-style: none outside;
	margin: 0;
	padding: 0;
}
a {
	outline: none;
	text-decoration: none;
}
img,
svg {
	display: block;
}
h1,
h2,
h5 {
	margin: 0;
	padding: 0;
}
.padding-bt {
	padding-bottom: 94px;
}
